{% extends 'base.html'%}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
<div class="container text-left" style="padding-top:20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h2 class="font-weight-bold mt-3" align="center">Введите новый пароль</h2>
		    <hr>
            <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Установить пароль</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}