{% extends 'base.html'%}

{% block title %}
    Добавить объявление
{% endblock %}

{% block content %}
<div class="container text-center" style="padding-top:20px">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if selected_category %}
                        {{ selected_category.name }}
                    {% else %}
                        Выберите категорию
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                {% for category in categories.get_ancestors %}
                    <li><a class="dropdown-item" href="?category={{ category.slug }}"><b>{{ category.name }}</b></a></li>
                    {% if category.get_children %}
                        {% for child in category.get_children %}
                            <li><a class="dropdown-item" href="?category={{ child.slug }}">- {{ child.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if not forloop.last %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                {% endfor %}
                {% for category in categories %}
                    {% if not category.get_children and not category.get_ancestors %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="?category={{ category.slug }}"><b>{{ category.name }}</b></a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container text-left" style="padding-top:10px">
    <div class="row">
        <div class="col-md-4 offset-md-4">
        {% include 'form_errors.html' %}
        {% if selected_category %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field == form.price %}
                        <div class="mb-3">
                            <label class="form-label">{{ form.price.label_tag }}</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">&#x20bd;</span>
                                {{ form.price }}
                            </div>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% for ch in characteristics %}
                <div class="mb-3">
                    <label class="form-label">{{ ch.name }}</label>
                    <input type="text" name="{{ ch }}" maxlength="50" class="form-control">
                </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="id_photos" class="form-label">Изображения</label>
                    <input type="file" name="photos " id="id_photos" class="form-control" value="/media/advert_photos/2023/01/01/motorcycle3.jpg" multiple>
                </div>
                <div class="container text-center">
                     <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </div>
                <input type="hidden" id="price_1Id" name="price_1" value="RUB" />
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}