{% extends 'base.html'%}

{% block title %}
    Добавить объявление
{% endblock %}

{% block content %}
<div class="container text-center" style="padding-top:20px">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if selected_category %}
                        {{ selected_category.name }}
                    {% else %}
                        Выберите категорию
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                {% for category in categories.get_ancestors %}
                    <li><a class="dropdown-item" href="?category={{ category.slug }}"><b>{{ category.name }}</b></a></li>
                    {% if category.get_children %}
                        {% for child in category.get_children %}
                            <li><a class="dropdown-item" href="?category={{ child.slug }}">- {{ child.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if not forloop.last %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                {% endfor %}
                {% for category in categories %}
                    {% if not category.get_children and not category.get_ancestors %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="?category={{ category.slug }}"><b>{{ category.name }}</b></a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container text-left" style="padding-top:10px">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {% if selected_category %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_title" class="form-label">Название</label>
                    <input type="text" name="title" maxlength="50" required="" id="id_title" class="form-control" placeholder="Введите название">
                </div>
                <div class="mb-3">
                    <label for="id_content" class="form-label">Содержание</label>
                    <textarea class="form-control" name="content" required="" id="id_content" placeholder="Введите краткое содержание объявления"></textarea>
                </div>
                <div class="mb-3">
                    <label for="id_price_0" class="form-label">Цена</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">&#x20bd;</span>
                        <input type="number" name="price_0" step="1" required="" id="id_price_0"class="form-control" placeholder="Введите цену">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="id_city" class="form-label">Город</label>
                    <select class="form-select" name="city" required="" id="id_city">
                        <option selected disabled>Выберите город</option>
                        {% for c in cities %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_street" class="form-label">Улица</label>
                    <input type="text" name="street" maxlength="50" id="id_street" class="form-control" placeholder="Введите название улицы">
                    <div id="streetHelp" class="form-text">*Необязательное поле</div>
                </div>
                <div class="mb-3">
                    <label for="id_building_number" class="form-label">Номер дома</label>
                    <input type="number" name="building_number" maxlength="50" id="id_building_number" class="form-control" placeholder="Введите номер дома">
                    <div id="building_numberHelp" class="form-text">*Необязательное поле</div>
                </div>
                {% for ch in characteristics %}
                <div class="mb-3">
                    <label class="form-label">{{ ch.name }}</label>
                    <input type="text" name="{{ ch }}" maxlength="50" class="form-control">
                </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="id_photos" class="form-label">Изображения</label>
                    <input type="file" name="photos " id="id_photos" class="form-control" value="/media/advert_photos/2023/01/01/motorcycle3.jpg" multiple>
                </div>
                <div class="container text-center">
                     <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </div>
                <input type="hidden" id="price_1Id" name="price_1" value="RUB" />
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}