{% extends 'base.html'%}

{% block title %}
    Редактировать объявление
{% endblock %}

{% block content %}
<div class="container text-left" style="padding-top:20px">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            {% include 'form_errors.html' %}

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field == form.price %}
                        <div class="mb-3">
                            <label class="form-label">{{ form.price.label_tag }}</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">&#x20bd;</span>
                                {{ form.price }}
                            </div>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% for value in values %}
                <div class="mb-3">
                    <label class="form-label">{{ value.characteristic }}</label>
                    <input type="text" name="{{ value.characteristic }}" value="{{ value.value }}" maxlength="50" class="form-control">
                </div>
                {% endfor %}
                {% for photo in advert.photos.all %}
                <div class="mb-3">
                    <img src="{{ photo.image.url }}" class="img-fluid rounded" style="height: 250px; width: 250px">
                    <input type="checkbox" name="{{ photo.id }}" checked>
                </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="id_photos" class="form-label">Добавить изображения</label>
                    <input type="file" name="photos " id="id_photos" class="form-control" value="/media/advert_photos/2023/01/01/motorcycle3.jpg" multiple>
                </div>
                <div class="container text-center">
                     <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Обновить</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}