{% extends 'base.html'%}

{% block title %}
    Редактировать объявление
{% endblock %}

{% block content %}
<div class="container text-left" style="padding-top:20px">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            {% include 'form_errors.html' %}

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field == form.price %}
                        <div class="mb-3">
                            <label class="form-label">{{ form.price.label_tag }}</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">&#x20bd;</span>
                                {{ form.price }}
                            </div>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% for value in values %}
                <div class="mb-3">
                    <label class="form-label">{{ value.characteristic }}</label>
                    <input type="text" name="{{ value.characteristic }}" value="{{ value.value }}" maxlength="50" class="form-control">
                </div>
                {% endfor %}
                {% for photo in advert.photos.all %}
                <div class="mb-3">
                    <img src="{{ photo.image.url }}" class="img-fluid rounded" style="height: 250px; width: 250px">
                    <input type="checkbox" name="{{ photo.id }}" checked>
                </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="id_photos" class="form-label">Добавить изображения</label>
                    <input type="file" name="photos " id="id_photos" class="form-control" value="/media/advert_photos/2023/01/01/motorcycle3.jpg" multiple>
                </div>
                <div class="container text-center">
                     <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Обновить</button>
                    </div>
                </div>
            </form>

<!--            <form action="" method="post" enctype="multipart/form-data">-->
<!--                {% csrf_token %}-->
<!--                <div class="mb-3">-->
<!--                    <label for="id_title" class="form-label">Название</label>-->
<!--                    <input type="text" name="title" value="{{ advert.title }}" maxlength="50" required="" id="id_title" class="form-control" placeholder="Введите название">-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="id_content" class="form-label">Содержание</label>-->
<!--                    <textarea class="form-control" name="content" required="" id="id_content" placeholder="Введите краткое содержание объявления">{{ advert.content }}</textarea>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="id_price_0" class="form-label">Цена</label>-->
<!--                    <div class="input-group mb-3">-->
<!--                        <span class="input-group-text">&#x20bd;</span>-->
<!--                        <input type="text" name="price_0" value="{{ advert.price.amount }}" required="" id="id_price_0"class="form-control" placeholder="Введите цену">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="id_city" class="form-label">Город</label>-->
<!--                    <select class="form-select" name="city" required="" id="id_city">-->
<!--                        <option selected disabled>{{ advert.city }}</option>-->
<!--                        {% for c in cities %}-->
<!--                            <option value="{{ c }}">{{ c }}</option>-->
<!--                        {% endfor %}-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="id_street" class="form-label">Улица</label>-->
<!--                    <input type="text" name="street" value="{{ advert.street }}" maxlength="50" id="id_street" class="form-control" placeholder="Введите название улицы">-->
<!--                    <div id="streetHelp" class="form-text">*Необязательное поле</div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="id_building_number" class="form-label">Номер дома</label>-->
<!--                    <input type="number" name="building_number" value="{{ advert.building_number }}" maxlength="50" id="id_building_number" class="form-control" placeholder="Введите номер дома">-->
<!--                    <div id="building_numberHelp" class="form-text">*Необязательное поле</div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    {% for value in values %}-->
<!--                        <label class="form-label">{{ value.characteristic }}</label>-->
<!--                        <input type="text" name="{{ value.characteristic }}" value="{{ value.value }}" class="form-control">-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    {% for photo in advert.photos.all %}-->
<!--                        <img src="{{ photo.image.url }}" alt="..." style="height: 250px; width: 250px">-->
<!--                        <input type="checkbox" name="{{photo.id}}" checked>-->
<!--                    {% endfor %}-->
<!--                    <p><input type="file" name="gallery" multiple></p>-->
<!--                </div>-->
<!--                <div class="container text-center">-->
<!--                     <div class="mb-3">-->
<!--                        <button type="submit" class="btn btn-primary">Обновить</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <input type="hidden" id="price_1Id" name="price_1" value="RUB" />-->
<!--            </form>-->
        </div>
    </div>
</div>
{% endblock %}