{% extends 'base.html'%}

{% block title %}
    {{ advert.title }}
{% endblock %}

{% block content %}
<div class="container text-left" style="padding-top:20px">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="mb-3">
                <img src="{{ user.photo.url }}" class="d-block w-100 rounded" border="1" style="height:250px">
            </div>
            <div class="mb-3">
                <a href="{% url 'update' user.id %}">Изменить данные</a>
            </div>
        </div>
        <div class="col-4" style="padding-left:50px">
            <div class="mb-3">
                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
            </div>
            <br>
            <div class="mb-3">
                <h5>{{ user.email }}</h5>
                <h5>{{ user.show_phone }}</h5>
            </div>
            <br>
            <div class="mb-3">
                Зарегистрирован: {{ user.date_joined }}
            </div>
        </div>
    </div>
</div>
{% endblock %}