<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Bulletin Board</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Категории</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">1</a></li>
                                    <li><a class="dropdown-item" href="#">2</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">3</a></li>
                                    <li><a class="dropdown-item" href="#">4</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">5</a></li>
                                    <li><a class="dropdown-item" href="#">6</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" aria-current="page" href="{% url 'create_advert' %}">Добавить объявление</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="btn btn-primary" aria-current="page" href="#">Мои объявления</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" aria-current="page" href="#">Избранное</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav justify-content-end">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="btn btn-primary" aria-current="page" href="#">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" aria-current="page" href="{% url 'logout' %}">Выйти</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-primary" aria-current="page" href="{% url 'register' %}">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" aria-current="page" href="{% url 'login' %}">Вход</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>